<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dimitrios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/hompage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label> 
      <label class="logo">DIMITRIOS</label>
      <ul>
        <li><b><a class="link" href="{{url_for('home')}}">Home</a></b></li>
        <li><b><a class="link" href="{{url_for('faced')}}">poeple counter</a></b><li>
        <li><b><a class="link" href="{{url_for('text')}}">Text Summarizer</a></b><li>
        <li><b><a class="link" href="{{url_for('color')}}">Color Detector</a></b></li>
        <li><b><a class="link" href="{{url_for('lang')}}">Language Detector</a></b></li>
      </ul>
    </nav>
    <table class="center">
        <tr>
            <td>
                <div class="cards">
                    <p><h3>Today's world is pacing rapidly towards AI and ML. The  internet has become a necessity in every domain hence there is a need for AI which can automate the tasks.  we need to make this technology easily accessible to the users by linking it with web pages.We need to fulfil the demand of combination of AI and web technology.</h3></p>
                </div>
            </td>
            <td><img src="static/styles/image-removebg-preview (1).png"></td>
        </tr>
    </table>
    <table class="center1">
        <tr>
            <td>
                <div class="peoplecountercard">
                    <div class="pctitle">
                        <h1>People<br>Counter</h1>
                    </div>
                    <div class="pcicon"><img src="static/styles/pcicon.png" height="200px"></div>
                </div>
            </td>
            <td>
                <div class="colordetectorcard">
                    <div class="cdtitle">
                        <h1>Color<br>Detector</h1>
                    </div>
                    <div class="cdicon"><img src="static/styles/cdicon.png" height="200px"></div>
                </div>
            </td>
            <td>
                <div class="textsummarizercard">
                    <div class="tstitle">
                        <h1>Text<br>Summariser</h1>
                    </div>
                    <div class="tsicon"><img src="static/styles/tsicon.png"></div>
                </div>
            </td>
            <td>
                <div class="languagedetectorcard">
                    <div class="ldtitle">
                        <h1>Language<br>Detector</h1>
                    </div>
                    <div class="ldicon"><img src="static/styles/ldicon.png"></div>
                </div>
            </td>   
        </tr>
    </table>
  </body>
</html>
            </nav>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>