<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label> 
        <label class="logo">DIMITRIOS</label>
        <ul>
          <li><b><a class="link" href="{{url_for('home')}}">Home</a></b></li>
          <li><b><a class="link" href="{{url_for('faced')}}">poeple counter</a></b><li>
          <li><b><a class="link" href="{{url_for('text')}}">Text Summarizer</a></b><li>
          <li><b><a class="link" href="{{url_for('color')}}">Color Detector</a></b></li>
          <li><b><a class="link" href="{{url_for('lang')}}">Language Detector</a></b></li>
        </ul>
      </nav>
<div class="main">
    <h1>ML Model</h1>
    <form action="/lang"method="POST">
    <input type="text" name="url" id="url">
    <button type="submit">Predict</button>
    </form>

    <br>
    <br>
    {{ Prediction }}
</div>
</body>
</html>