:root{
    --color-white:white;
    --color-pink: #ff6262;
    --color-black:black;
    --color-gray:gray;
    --color-green:rgb(73, 255, 73);
}
body{
    background-color:white ;
}
*{
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0px 8px;
    display: flex;
    list-style: none;
    height: 65px;
    background-color: var(--color-black);
    color: white;
    font-family: 'Lato', sans-serif;
    align-items: center;
}
ul li h1{
    font-size: 30px;
}
.snav{
    display: flex;
    align-items: center;
    
}
.snav li{
    font-size: 20px;
    margin: 10px 40px 10px 40px;
    font-family: 'Open Sans';
}

.snav li a{
    color: white;
    text-decoration: none;
}
.snav li a:hover{
    font-size: 22px;
}
.header{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: auto auto;

}
.left-header{
    background-color:var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;

}
.box1{
    width: 40vw;
    height: 60vh;
    background-color:var(--color-gray);
    border: #ff6262 solid 3px ;
    border-radius: 5px;
}
.box1 img{
    width: 40vw;
    height: 60vh;
}
.right-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: var(--color-white);
}
.box2{
    width: 40vw;
    height: 60vh;
    background-color:var(--color-gray);
    border: #ff6262 solid 5px ;
    border-radius: 5px;
}
.box2 img{
    width: 40vw;
    height: 60vh;
}
.diagram{
display:flex;
align-items:center;
justify-content: center;
width: 100vw;
height: 70vh;
background-color: black;

}
.diagram img{
width: 100vw;
height: 70vh;
}